body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    background-color: rgb(22, 33, 73);
}
/* header styling */
#header{
    width: 100%;
    background-color: rgb(22, 33, 73);
    display: flex;
    height: 100px;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 9;
}
.logo h2{
    font-size: 40px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    letter-spacing: 1.5px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: rgb(0, 152, 255);
}
.menu ul{
    float: right;
    padding-right: 400px;
    line-height: 80px;
}
.menu li{
    display: inline-block;
    list-style: none;
}
.menu li a{
    font-size: 18px;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.menu li a:hover{
    color: rgb(20, 243, 232);
    transition: all 0.4s ease 0s;
}
/* heroSection stying */
#heroSection{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 33, 73);
}
.hero-main{
    float: left;
}
.hero-content h1{
    font-size: 80px;
    padding-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    line-height: 90px;
}
.hero-content p span{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-content p{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 100px;
}
.hero-content button {
    text-decoration: none;
    background-color: rgb(0, 152, 255);
    border-radius: 100px;
    margin-left: 100px;
    border: 0px;
    padding: 10px 15px 10px 15px;
}
.hero-content button a{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none;
}
.hero-img{
    padding-left: 600px;
    margin-top: -350px;
}
.hero-img img{
    max-height: 500px;
    margin-top: -90px;
    border-radius: 49%;
    padding-left: 5px;
}
.circle{
    position: absolute;
    width: 400px;
    height: 400px;
    /* bottom: 80px; */
    background-color: rgb(0, 152, 255);
    border-radius: 50%;
}  
.button:hover{
    background-color: black;
    color: aqua;
}
/* servicesSsection */
#servicesSection{
    width: 100%;
    /* float: left; */
}
.container{
    display: flex;
    /* margin-top: 20px; */
    padding-left: 150px;
    background-color: rgb(22, 33, 73);
    
    
}
.serviceBox1 h3,.serviceBox2 h3,.serviceBox3 h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serifs;
}
.serviceBox1 ,.serviceBox2 ,.serviceBox3 {
    width: 250px;
    padding: 20px;
    height: 200px;
    cursor: pointer;
    border-radius:  10px;
    margin: 20px;
    background-color: rgb(59, 43, 114);
}
/* marketingSection */
#marketingSection{
    width: 100%;
    background-color: rgb(22, 33, 73);
}

.heading{
color: white;
text-align: center;
font-family: Arial, Helvetica, sans-serifs;
}
.heading p{
    font-size: 40px;
    font-weight: bold;
}
.heading h3{
    margin-top: 0;
    color: rgb(0, 188, 250);
}
.talent{
    display: flex;
}
.talent .experince{
    width: 50%;
    height: 400px;
}
.talent .bioData{
    width: 50%;
    height: 400px;
}
.bioData  h3{
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-left: 30px;
}
.bioData  p{
    margin-left: 30px;
    color: rgb(137, 130, 161);
}
.aboutAdress{
    display: flex;
    margin-left: 30px;
    
}
.Contact{
    width: 200px;
    height: 200px;
    border:1px solid rgb(137, 130, 161);
    border-radius: 10px 0 0 10px;
}
.Contact:last-child{
    border-right: 0;
}
.adress{
    border: 1px  solid rgb(137, 130, 161);
    width: 200px;
    height: 200px;
    border-radius: 0 10px  10px 0 ;
}
.btn{
    margin-top: 40px;
}
.btn a{
    text-decoration: none;
    background-color: rgb(0, 152, 255);
    border-radius: 100px;
    border: 0px;
    padding: 15px 30px;
    margin: 30px;
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.adress ul li{
    list-style: none;
}
.Contact ul li{
    list-style: none;
}
.name{
    font-weight: bold;
    color: aliceblue;
}
.email{
    font-size: 12px;
    color: rgb(137, 130, 161); ;
}
.project{
    align-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 100px;
}
.cards{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}
.card{
    width: 200px;
    height: 100px;
    display: flex;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(67, 45, 146);
}
.card h2{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-right: 20px ;
    margin-top: 20px;
    color: rgb(4, 193, 250);
}
.card p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: aliceblue;
}

/* skills-section */
#skills-section {
    width: 100%;
    height: 80vh;
}
.skill-heading h2{
color: rgb(0, 152, 255);
text-align: center;
font-family: Arial, Helvetica, sans-serifs;
}
.skill-heading p{
    text-align: center;
font-family: Arial, Helvetica, sans-serifs;
font-size: 40px;
font-weight: bold;
color: aliceblue;
}
.custom{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.single-skill{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 1rem;
    margin-top: 60px;
}
.topic{
    color: aliceblue;
    font-weight: 500;
}
.bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: rgb(0, 152, 255);
}
.bar-1{
    width: 95%;
}
.bar-2{
    width: 75%;
}
.bar-3{
    width: 90%;
}
.bar-4{
    width: 70%;
}
.bar-5{
    width: 80%;
}
.bar-6{
    width: 60%;
}
@media screen and (min-width:786px){
    .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:1024px){
    body{
        margin: 0;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .custom{
        margin-left: auto;
        margin-right: auto;
    }
}
/*   serviceSection */
.service-section{
    width: 100%;
    background-color: rgb(22, 33, 73);
    height: 150vh;
}
.service-section .span{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 152, 255);
    letter-spacing: normal;
    font-size: 25px;
}
.service-section .parag{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: normal;
    font-size: 50px;
}
.service-cards{
    align-items: center;
    display: flex;
    padding-left: 180px; 
}
.service-card2{
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(67, 45, 146);
    text-align: center;
    border-radius: 10px;  
}
.service-card2 .hp {
    padding-top: 30px;
}
.service-card2 h3{
    padding-top: 20px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.service-card2 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161); 
}
.service-card1{
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(59, 43, 114);
    text-align: center;
    border-radius: 10px;
}
.service-card1 .hp{
    padding-top: 30px;
}
.service-card1 h3{
    padding-top: 20px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.service-card1 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161); 
}
/* reasume styling */
#reasume {
    width: 100%;
    height: 110vh;
    background-color: rgb(22, 33, 73);
}
.reasume-heading h2{
color: rgb(0, 152, 255);
text-align: center;
font-family: Arial, Helvetica, sans-serifs;
font-size: 20px;
}
.reasume-heading p{
    text-align: center;
font-family: Arial, Helvetica, sans-serifs;
font-size: 40px;
font-weight: bold;
color: aliceblue;
}
.reasume-items{
    display: flex;
}
.edu{
    width: 50%;
}
.edu h2{
    padding-left:2rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.educa{
    padding-left: 9rem;
}
.educa h3{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.educa h3 span{
    font-size: 12px;
    color: rgb(137, 130, 161);
}
.educa h4{
    font-size: 15px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.educa p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161);
}
.exp{
    width: 50%;
}
.exp h2{
    padding-left: 13rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.exper{
    padding-left: 20rem;
}
.exper h3{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.exper h3 span{
    font-size: 12px;
    color: rgb(137, 130, 161);
}
.exper h4{
    font-size: 15px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.exper p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161);
}
/* responsive css */
/* hero section */
/* @media (min-width:360px) and (mas-width:768px) {} */
/* @media (min-width:768px) and (mas-width:920px) {} */
/* @media (min-width:920px) and (mas-width:1240px) {} */
/* @media (min-width:1240px) and (mas-width:1920px) {} */
@media (min-width:360px) and (max-width:768px) {
    
}
