body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    background-color: rgb(22, 33, 73);
}
/* header styling */
#header{
    width: 100%;
    background-color: rgb(22, 33, 73);
    display: flex;
    height: 100px;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 9;
}
.logo h2{
    font-size: 40px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    letter-spacing: 1.5px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: rgb(0, 152, 255);
}
.menu ul{
    float: right;
    padding-right: 400px;
    line-height: 80px;
}
.menu li{
    display: inline-block;
    list-style: none;
}
.menu li a{
    font-size: 18px;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.menu li a:hover{
    color: rgb(20, 243, 232);
    transition: all 0.4s ease 0s;
}
/* heroSection stying */
#heroSection{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 33, 73);
}
.hero-main{
    float: left;
}
.hero-content h1{
    font-size: 80px;
    padding-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    line-height: 90px;
}
.hero-content p span{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-content p{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 100px;
}
.hero-content button {
    text-decoration: none;
    background-color: rgb(0, 152, 255);
    border-radius: 100px;
    margin-left: 100px;
    border: 0px;
    padding: 10px 15px 10px 15px;
}
.hero-content button a{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none;
}
.hero-img{
    padding-left: 600px;
    margin-top: -350px;
}
.hero-img img{
    max-height: 500px;
    margin-top: -90px;
    border-radius: 49%;
    padding-left: 5px;
}
.circle{
    position: absolute;
    width: 400px;
    height: 400px;
    /* bottom: 80px; */
    background-color: rgb(0, 152, 255);
    border-radius: 50%;
}  
.button:hover{
    background-color: black;
    color: aqua;
}
/* servicesSsection */
#servicesSection{
    width: 100%;
    /* float: left; */
}
.container{
    display: flex;
    /* margin-top: 20px; */
    padding-left: 150px;
    background-color: rgb(22, 33, 73);
    
    
}
.serviceBox1 h3,.serviceBox2 h3,.serviceBox3 h3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serifs;
}
.serviceBox1 ,.serviceBox2 ,.serviceBox3 {
    width: 250px;
    padding: 20px;
    height: 200px;
    cursor: pointer;
    border-radius:  10px;
    margin: 20px;
    background-color: rgb(59, 43, 114);
}
/* marketingSection */
#marketingSection{
    width: 100%;
    background-color: rgb(22, 33, 73);
}

.heading{
color: white;
text-align: center;
font-family: Arial, Helvetica, sans-serifs;
}
.heading p{
    font-size: 40px;
    font-weight: bold;
}
.heading h3{
    margin-top: 0;
    color: rgb(0, 188, 250);
}
.talent{
    display: flex;
}
.talent .experince{
    width: 50%;
    height: 400px;
}
.talent .bioData{
    width: 50%;
    height: 400px;
}
.bioData  h3{
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-left: 30px;
}
.bioData  p{
    margin-left: 30px;
    color: rgb(137, 130, 161);
}
.aboutAdress{
    display: flex;
    margin-left: 30px;
    
}
.Contact{
    width: 200px;
    height: 200px;
    border:1px solid rgb(137, 130, 161);
    border-radius: 10px 0 0 10px;
}
.Contact:last-child{
    border-right: 0;
}
.adress{
    border: 1px  solid rgb(137, 130, 161);
    width: 200px;
    height: 200px;
    border-radius: 0 10px  10px 0 ;
}
.btn{
    margin-top: 40px;
}
.btn a{
    text-decoration: none;
    background-color: rgb(0, 152, 255);
    border-radius: 100px;
    border: 0px;
    padding: 15px 30px;
    margin: 30px;
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.adress ul li{
    list-style: none;
}
.Contact ul li{
    list-style: none;
}
.name{
    font-weight: bold;
    color: aliceblue;
}
.email{
    font-size: 12px;
    color: rgb(137, 130, 161); ;
}
.project{
    align-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 100px;
}
.cards{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}
.card{
    width: 200px;
    height: 100px;
    display: flex;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(67, 45, 146);
}
.card h2{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-right: 20px ;
    margin-top: 20px;
    color: rgb(4, 193, 250);
}
.card p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: aliceblue;
}

/* skills-section */
#skills-section {
    width: 100%;
    height: 80vh;
}
.skill-heading h2{
color: rgb(0, 152, 255);
text-align: center;
font-family: Arial, Helvetica, sans-serifs;
}
.skill-heading p{
    text-align: center;
font-family: Arial, Helvetica, sans-serifs;
font-size: 40px;
font-weight: bold;
color: aliceblue;
}
.custom{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.skillper{
    
}
.single-skill{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 1rem;
    margin-top: 60px;
}
.topic{
    color: aliceblue;
    font-weight: 500;
}
.bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: rgb(0, 152, 255);
}
.bar-1{
    width: 95%;
}
.bar-2{
    width: 75%;
}
.bar-3{
    width: 90%;
}
.bar-4{
    width: 70%;
}
.bar-5{
    width: 80%;
}
.bar-6{
    width: 60%;
}
@media screen and (min-width:786px){
    .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:1024px){
    body{
        margin: 0;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .custom{
        margin-left: auto;
        margin-right: auto;
    }
}
/*   serviceSection */
.service-section{
    width: 100%;
    background-color: rgb(22, 33, 73);
    height: 150vh;
}
.service-section .span{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 152, 255);
    letter-spacing: normal;
    font-size: 25px;
}
.service-section .parag{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: normal;
    font-size: 50px;
}
.service-cards{
    align-items: center;
    display: flex;
    padding-left: 180px; 
}
.service-card2{
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(67, 45, 146);
    text-align: center;
    border-radius: 10px;  
}
.service-card2 .hp {
    padding-top: 30px;
}
.service-card2 h3{
    padding-top: 20px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.service-card2 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161); 
}
.service-card1{
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(59, 43, 114);
    text-align: center;
    border-radius: 10px;
}
.service-card1 .hp{
    padding-top: 30px;
}
.service-card1 h3{
    padding-top: 20px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.service-card1 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161); 
}
/* reasume styling */
#reasume {
    width: 100%;
    height: 130vh;
    background-color: rgb(22, 33, 73);
}
.reasume-heading h2{
color: rgb(0, 152, 255);
text-align: center;
font-family: Arial, Helvetica, sans-serifs;
font-size: 20px;
}
.reasume-heading p{
    text-align: center;
font-family: Arial, Helvetica, sans-serifs;
font-size: 40px;
font-weight: bold;
color: aliceblue;
}
.reasume-items{
    display: flex;
}
.edu{
    width: 50%;
}
.edu h2{
    padding-left:2rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.educa{
    padding-left: 9rem;
}
.educa h3{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.educa h3 span{
    font-size: 12px;
    color: rgb(137, 130, 161);
}
.educa h4{
    font-size: 15px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.educa p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161);
}
.exp{
    width: 50%;
}
.exp h2{
    padding-left: 13rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.exper{
    padding-left: 20rem;
}
.exper h3{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.exper h3 span{
    font-size: 12px;
    color: rgb(137, 130, 161);
}
.exper h4{
    font-size: 15px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.exper p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 130, 161);
}
/* portifolioSecction styling */
#portifolioSecction {
    height: 150vh;
}
.menu2{
    display: flex;
    text-wrap: nowrap;
    padding-left: 23rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.menu2 ul li{
    list-style: none;
}
.menu2 ul li a{
    color: aliceblue;
    list-style: none;
}
.menu2 a{
    text-decoration: none;
    text-align: center;
}
.menu2 a:hover{
    color: rgb(0, 152, 255);
    transition: 0.2s;
}
.portifolio-images{
    margin-top: 40px;
}
.c-images{
    display: flex;
    padding-left: 10rem;
}
.c-images img{
    width:250px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}
.img1{
    height: 300px;
}
.img2{
    height: 200px;
}
.img3{
    height: 300px;
}
.img4{
height: 200px;
}
.img5{
height: 200px;
}
.img6{
height: 300px;
margin-top: -6.2rem;
}
.img7{
    height: 200px;
}
.img8{
    height: 300px;
    margin-top: -6.2rem;
}
/* testimonial-section */
#testimonial-section{
    height: 100vh;
}
.heading h1{
    font-size: 150px;
    margin-top: -8rem;
    color: rgb(0, 152, 255);
}
.heading .lorem{
    font-size: 30px;
    font-weight: normal;
    word-spacing: 5px;
    margin-top: -6rem;
    font-weight: normal;

}
.pasport{
    display: flex;
    align-items: center;
    padding-left: 33rem;
}
.pasport img{
border-radius: 100%;
object-fit: cover;
height: 50px;
padding: 22px;
}
.pasport h4{
    padding-left: 18px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;

}
.pasport span{
    font-size: 10px;
    color: rgb(137, 130, 161);
}
.circles{
    display: flex;
    align-items: center;
    margin-left: 40rem;
    text-align: center;
    margin-top: -70px;
}
.dot {
    font-size: 60px;
    letter-spacing: 15px;
    color: rgb(137, 130, 161);
}
/* BROG SECTION */
#brog-section{
    height: 40vh;
}
.big-box{
    width: 72%;
    background-color: rgb(67, 45, 146);
    height: 180px;
    border-radius: 10px;
    margin-left: 12rem;
    text-align: center;;
    padding-right: 20px;
}
.big-box span{
    font-size: 40px;
    line-height: 12rem;
    padding-left: 40px;
    color: rgb(137, 130, 161);
}
.big-box .brog{
    color: aliceblue;
}
/* blog section */
#blog-section{
    height: 100vh;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.blog-box{
    width: 300px;
    height: 200px;
    margin: 20px;
}
.blog-image{
    width: 100%;
    height: 200px;
}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}
.blog-box .text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: rgb(59, 43, 114);
    margin-top: -4px;
    border-radius: 0px 0px 10px 10px;
}
.blog-box .text h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 152, 255);
}
.blog-box .text span{
    font-size: 10px;
    padding-left: 10px;
    color: rgb(137, 130, 161);
}
.blog-box .text p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    overflow: hidden;
}
@media (min-width:360px) and (max-width:1240px) {
    .blog-box{
        width: 300px;
    }
}
@media (min-width:360px) and (max-width:1100px) {
    .blog-box{
        width: 70%;
    }
}
@media (min-width:360px) and (max-width:550px) {
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog-section{
        padding: 20px;
    }

}
/* contact-section */
#contact-section{
    width: 100%;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.contact-container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}
.contact-container .contactinfo .contact-box{
    position: relative;
    padding: 10px 0;
    display: flex;
    margin-left: 12rem;
    
}
.contact-container .contactinfo .contact-box .contact-img{
    min-width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 152, 255);;
    border-radius: 50%;
}
.contact-container .contactinfo .contact-box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: aliceblue;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-top: -6px;
}
.contact-container .contactinfo .contact-box .text h3{
    font-weight: 500;
    color: aliceblue;
}
.contact-container .contactinfo .contact-box .text p{
    font-size: 12px;
    color: rgb(137, 130, 161);
    margin-top: -10px;
}
.form{
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
form{
    width: 48%;
}
.input{
    margin-bottom: 20px;
    position: relative;
}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(137, 130, 161);;
    background-color: #fff;
    background-color: transparent;
    font-size: 15px;
    resize: none;
    border-radius: 5px;
}
input:focus~label,input:valid~label,textarea:focus~label,textarea:valid~label{
    top: -30px;
    font-size: 14px;
    transition: 0.2s;
}
label{
    height: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    color: rgb(137, 130, 161);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.row .input{
    flex-basis: 46%;
}
button{
    background-color: rgb(0, 152, 255);;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    border: none;
}
/* sucribe section */
#subcribe{
    width: 100%;
    height: 50vh;
    
}
.sub-now{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-box{
    width: 80%;
    height: 250px;
    margin-left: 8rem;
    background-color: rgb(67, 45, 146);
    display: flex;
    border-radius: 10px 10px 10px 10px;
}
.texts{
    width: 50%;
    padding-top: 50px;

}
.texts span{
    color: rgb(0, 152, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 60px;
}
.texts h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 60px;
}
.texts p{
    color: rgb(137, 130, 161);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-left: 60px;
}
.input-email{
    margin-bottom: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30%;
    
}
.input-email label{
    height: 100%;
    padding: 0px;
    position: absolute;
    padding-left: 15px;
    top: 0;
    cursor: text;
    color: rgb(137, 130, 161);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.input-email~label,input:valid~label,textarea:focus~label,textarea:valid~label{
    top: -40px;
    font-size: 14px;
    transition: 0.2s;
}
/* footer section */
#footerSection{
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
footer h3, h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer h3{
    padding-left: 35px;
}
footer ul li{
    list-style: none;
    padding-top: 10px;
    color: rgb(137, 130, 161);
}
footer ul li img{
    width: 15px;
    
}
footer p{
    color: rgb(137, 130, 161);
}
/* responsive css */
/* hero section */
/* @media (min-width:360px) and (mas-width:768px) {} */
/* @media (min-width:768px) and (mas-width:920px) {} */
/* @media (min-width:920px) and (mas-width:1240px) {} */
/* @media (min-width:1240px) and (mas-width:1920px) {} */
@media (min-width:360px) and (max-width:1240px) {
    
}
